<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/csseigen.css}" href="../static/css/csseigen.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/popper.min.js}"></script>


</head>
<body>

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="#">
        <img class="rounded" src="/img/logo.png" height="60" width="125"/>
    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarGSM"
            aria-controls="navbarGSM" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarGSM">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/overviewVideoGsm">Terug<span class="sr-only">(huidig)</span></a>
            <a class="nav-item nav-link" href="/contact">Contact</a>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Nederlands</a>


            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Engels</a>
                <a class="dropdown-item" href="#">Frans</a>
                <a class="dropdown-item" href="#">Duits</a>
            </div>

        </div>

    </div>
</nav>

<div class="container-fluid">
    <br>

    <div class="gsms text-center mt-5">
        <h3>Voeg een nieuwe video toe</h3>
    </div>
    <hr>
    <br>


    <form th:action="|/admin/newVideo|" method="post">
        <div class="titleNewVideo">
            <div class="infoLine">
                <div class="infoLineName"><label for="titleVideo">Titel video:</label></div>
                <div class="infoLineValue">
                    <input id="titleVideo" name="videoTitle"/>
                </div>
            </div>
            <div class="infoLine">
                <div class="infoLineName"><label for="urlVideo">Url van de video:</label></div>
                <div class="infoLineValue">
                    <input id="urlVideo" name="videoUrl"/>
                </div>
            </div>
            <div class="infoLine">
                <div class="infoLineName"><label for="idGsm">ID van de merken:</label></div>
                <div class="infoLineValue">
                    <input id="idGsm" name="gsmId"/>
                </div>
            </div>
            <br>
            <br>
            <hr>
            <br>
            <div class="buton">
                <input class="buttonLook editButton" type="submit" value="Voeg video toe"/>
                <a th:href="|/overviewVideoGsm|" class="buttonLook editButton">cancel</a>
            </div>
            <br>
            <br>
            <h6>Je kiest een video op youtube en klikt op delen, dan kiest u insluiten en kopieer je de code achter embed/</h6>
        </div>
    </form>
</div>
</div>



    </div>
</div>

<div class="footer bg-success text-warning mt-5 text-center">
    <footer>© Seppe Stok 2020-2021</footer>
</div>

</body>
</html>